<div class="container-fluid">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Ads Videos list</div>
            <div class="panel-body">
                <div class="row">
                    {% for video in queryset %}
                        <div class="col-sm-6 col-md-4">
                            <a id="{{ video.uuid }}" class="video_item">
                                <div class="thumbnail">
                                    <img src="/media/{{ video.videofile__thumbnail_image }}" alt="...">

                                    <div class="caption">
                                        <h3>{{ video.name }}</h3>
                                        Max coins:{{ video.max_coins }}<br>
                                        Publisher:{{ video.publisher }}<br>
                                        <br>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if queryset.has_previous %}
                            <a href="?page={{ queryset.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                        </span>

                        {% if queryset.has_next %}
                            <a href="?page={{ queryset.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>


