<meta charset="utf-8">
<title>Vidzert</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="description" content="Vidzert, Make Money by watching videos">
<meta name="author" content="Vidzert">

<link type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>

<link type="text/css" href="/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="/static/fonts/themify-icons/themify-icons.css" rel="stylesheet">
<link type="text/css" href="/static/css/styles.css" rel="stylesheet">

<link type="text/css" href="/static/plugins/codeprettifier/prettify.css" rel="stylesheet">
<link type="text/css" href="/static/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">

<!--[if lt IE 10]>
    <script type="text/javascript" src="/static/js/media.match.min.js"></script>
    <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <script type="text/javascript" src="/static/js/placeholder.min.js"></script>
<![endif]-->


