<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>

<body class="animated-content">
{% include 'navbar.html' %}

<div id="wrapper">
    <div id="layout-static">
        <div class="static-sidebar-wrapper sidebar-default">
            <div class="static-sidebar extra-padding">
                <div class="sidebar">

                    <div class="widget stay-on-collapse" id="widget-sidebar">
                        <nav role="navigation" class="widget-body">
                            <ul class="acc-menu">

                                <li><a href="index.html"><i class="ti ti-home"></i><span>Home</span></a></li>
                                <li><a href="#"><i class="ti ti-angle-up"></i><span>Sign In</span></a></li>
                                <li><a href="#"><i class="ti ti-plus"></i><span>Register</span></a></li>
                                <li><a href="#"><i class="ti ti-video-clapper"></i><span>Watched Videos</span>
                                </a></li>

                                <li class="nav-separator"><span>Personal</span></li>
                                <li><a href="#"><i class="ti ti-settings"></i><span>My Account</span></a></li>

                                <li class="nav-separator"><span>Extras</span></li>
                                <li><a href="#"><i class="ti ti-layout"></i><span>About Us</span></a></li>
                                <li><a href="#"><i class="ti ti-view-list-alt"></i><span>Terms of use</span></a></li>
                                <li><a href="#"><i class="ti ti-control-shuffle"></i><span>FAQ</span></a></li>
                                <li><a href="#"><i class="ti ti-shield"></i><span>Security</span></a></li>
                                <li><a href="#"><i class="ti ti-email"></i><span>Contact us</span></a></li>

                                <hr>

                                <li><a href="#"><i class="ti ti-close"></i><span>Logout</span></a></li>

                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <div class="static-content-wrapper extra-padding-content">

            <div class="col-md-9">
            {% include 'video_list.html' %}

            </div>

            <div class="col-md-3">

                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Top Earners(Today)</h2>
                        </div>
                        <table class="table table-striped m-n">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Top Earners(All Time)</h2>
                        </div>
                        <table class="table table-striped m-n">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>


        </div>

        <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
        <!-- Load jQuery -->
        <script type="text/javascript" src="/static/js/jqueryui-1.10.3.min.js"></script>
        <!-- Load jQueryUI -->
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <!-- Load Bootstrap -->
        <script type="text/javascript" src="/static/js/enquire.min.js"></script>
        <!-- Load Enquire -->

        <script type="text/javascript" src="/static/plugins/velocityjs/velocity.min.js"></script>
        <!-- Load Velocity for Animated Content -->
        <script type="text/javascript" src="/static/plugins/velocityjs/velocity.ui.min.js"></script>

        <script type="text/javascript" src="/static/plugins/wijets/wijets.js"></script>
        <!-- Wijet -->

        <script type="text/javascript" src="/static/plugins/codeprettifier/prettify.js"></script>
        <!-- Code Prettifier  -->
        <script type="text/javascript" src="/static/plugins/bootstrap-switch/bootstrap-switch.js"></script>
        <!-- Swith/Toggle Button -->

        <script type="text/javascript" src="/static/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
        <!-- Bootstrap Tabdrop -->

        <script type="text/javascript" src="/static/plugins/iCheck/icheck.min.js"></script>
        <!-- iCheck -->

        <script type="text/javascript" src="/static/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
        <!-- nano scroller -->

        <script type="text/javascript" src="/static/js/application.js"></script>
        <script type="text/javascript" src="/static/demo/demo.js"></script>
        <script type="text/javascript" src="/static/demo/demo-switcher.js"></script>

        <!-- End loading site level scripts -->

        {#<div class="panel panel-default">#}
        {#  <div class="panel-heading">Signup</div>#}
        {#  <div class="panel-body">#}
        {#                <form class="navbar-form" method="post" action="">#}
        {#                    {% csrf_token %}#}
        {#{{ form.as_p }}#}
        {#                    <button type="submit" class="btn btn-default">Sign Up</button>#}
        {#</form>#}
        {#  </div>#}
        {#</div>#}
        {##}
        {#{% include 'video_list.html' %}#}
        {#        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->#}
        {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
        {#    <!-- Latest compiled and minified JavaScript -->#}
        {#      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
</body>
</html>